/*                     Fixed Overlay
============================================================= */
#Display {
    position: fixed;
    display: grid;
    overflow: auto;
}

#menubar {
    background: purple;
    display: grid;
    position: fixed;
}

body {
    background: black;
}

.layer {
    position: absolute;
}

/*               Overlapping Game Layers
============================================================= */
#Display > * {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    background: transparent;
    pointer-events: none;
    /* display: flex; */
    /* width: auto; */
}

#Display > * > * {
    pointer-events: auto;
}

/*                       Tile Effects
============================================================= */
.tile {
    background: green;
    border: 1px solid #012;
}

.player:hover, .tile:hover {
    border: 1px #c0ffee solid;
    cursor: pointer;
}

.player:active, .tile:active {
    background: purple;
}

/*              Auto-adjusting Tile Widths & Heights
============================================================= */
#DisplayGrid {
    white-space: nowrap;
}

.player, .tile {
    min-width: 20px;
    min-height: 20px;
    max-width: 50px;
    max-height: 50px;
}

.tileRow {
    height: auto;
    display: flex;
}

/*    Adjustments based on  Width / Height of Window
============================================================= */
@media (orientation: landscape) {
    .player, .tile {
        width: 10vh;
        height: 10vh;
    }

    #menubar {
        top: 0;
        bottom: 0;
        left: 0;
        right: calc(100% - 3em);
        writing-mode: vertical-lr;
        writing-mode: sideways-lr;
    }

    #Display {
        top: 0;
        bottom: 0;
        right: 0;
        left: 3em;
    }
}

@media (orientation: portrait) {
    .player, .tile {
        width: 10vw;
        height: 10vw;
    }

    #Display {
        left: 0;
        right: 0;
        top: 3em;
        bottom: 0;
    }

    #menubar {
        left: 0;
        right: 0;
        top: 0;
        bottom: calc(100% - 3em);
    }
}

/*                      Player Canvas
============================================================= */
.player {
    background: blue;
    border-radius: 10vw;
    margin: 1px;
    position: relative;
}

/*                   Highlighted Objects
============================================================= */
.tile.highlighted {
    background: #9d76e2;
}

/*                         Fun Title
============================================================= */
#menu-title {
    padding: 0;
    margin: auto auto;
    text-align: center;
    color: white;
}
