/*                     Fixed Overlay
============================================================= */
#Display {
    position: fixed;
    overflow: auto;
}

#menubar {
    background: purple;
    display: grid;
    position: fixed;
}

body {
    background: black;
}

.layer {
    top: 0;
    left: 0;
    position: absolute;
    white-space: nowrap;
}

/*               Overlapping Game Layers
============================================================= */
#Display > * {    
    pointer-events: none;
}

#Display > * > * {
    pointer-events: auto;
}


/*                Tiles, Players, and Entities
============================================================= */
.tile {
    z-index: 40;
    background: green;
    border: 1px solid #012;
}

.player {
    z-index: 60;
    position: absolute;
    background: blue;
    border: 1px transparent solid;
    margin: 0px;
}

.myplayer {
    z-index: 50;
    background: #73e;
    border: 1px #f93 solid;
}


.player:hover, .tile:hover {
    border: 1px #c0ffee solid;
    cursor: pointer;
}

.player:active, .tile:active {
    background: #c0ffee;
}

/*              Auto-adjusting Tile Widths & Heights
============================================================= */

.player, .tile {
    min-width: 20px;
    min-height: 20px;
    max-width: 50px;
    max-height: 50px;
}

.tileRow {
    display: inline-grid;
}

/*             Landscape / Portrait Media Modes
============================================================= */
@media (orientation: landscape) {
    .player, .tile {
        width: 10vh;
        height: 10vh;
    }

    #menubar {
        top: 0;
        bottom: 0;
        left: 0;
        right: calc(100% - 3em);
        writing-mode: vertical-lr;
        writing-mode: sideways-lr;
    }

    #Display {
        top: 0;
        bottom: 0;
        right: 0;
        left: 3em;
    }
}

@media (orientation: portrait) {
    .player, .tile {
        width: 10vw;
        height: 10vw;
    }

    #Display {
        left: 0;
        right: 0;
        top: 3em;
        bottom: 0;
    }

    #menubar {
        left: 0;
        right: 0;
        top: 0;
        bottom: calc(100% - 3em);
    }
}



/*                   Highlighted Objects
============================================================= */
.tile.highlighted {
    background: #9d76e2;
}

/*                         Fun Title
============================================================= */
#menu-title {
    padding: 0;
    margin: auto auto;
    text-align: center;
    color: white;
    user-select: none;
    pointer-events: none;
}



/*                         Debug Box
============================================================= */
#debug {
    user-select: none;
    pointer-events: none;
    bottom: 1em;
    left: 0;
    position: fixed;
    background: #c23c3c94;
    color: white;
    padding: 1em;
}